#news-stories-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    li {
        width:100%;
        height: 400px;
        overflow: hidden;

        @include tablet {
            width: 33.33%;
        }
    
        @include desktop {
            width: 25%;
        }
    }

}

.article-background {
    display: flex;
    align-items: flex-end;
    height: 400px;
    max-height: 400px;
    margin-top: 400px;
    background-position: 50%;
    background-size: cover;
    transition: 3s;
}

.article-background-animate {
    margin-top: 0px;
}

.article-abstract {
    padding: 1rem .5rem;
    background: rgba(0,0,0,.75);
    color: $base-font-color;
    display:none;
}

.content {
    display:flex;
    flex-direction: column;
}


.loading-image {
    height: 50px;
    width: 50px;
    display: none;
    align-self: center;
}